// ================================================================
// ====== HOME ======================================
.home {
  display: flex;
  height: 900px;
  background-color: white;
  border-bottom: 1px solid #ebedee;
  @media (max-width:$tablet){
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }
  .loaded & {
    &._watcher-view {
      .main-home__title,
      .main-home__text,
      .link-main-home__about,
      .link-main-home__btn {
        opacity: 1;
        transform: translateY(0);
      }
      .submain-home__image-ibg {
        opacity: 1;
        transform: translateX(0) scale(1);
      }
      .submain-home__link {
        opacity: 1;
      }
    }
  }

  // .home__main
  &__main {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @media (max-width:$tablet){
      flex-direction: column;
      justify-content: unset; 
      margin: 0 auto;
      max-width: rem(1200);
      padding: 0 rem(15);
      align-items: center
    }
  }
  // .home__submain
  &__submain {
    width: 100%;
  }
}
.main-home {
  max-width: 600px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  @media (max-width:$tablet){
    max-width: rem(738);
  }
  // .main-home__title-wrap
  &__title-wrap {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(40) rem(123) rem(40) rem(36);
    width: 100%;
    @media (max-width:$tablet){
      padding: rem(47) rem(0) rem(67);
    }
  }
  // .main-home__title
  &__title {
    transition: all .7s ease-in-out 0s;
    opacity: 0;
    transform: translateY(30px);
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  // .main-home__text
  &__text {
    transition: all .7s ease 0.3s;
    opacity: 0;
    transform: translateY(50%);
    overflow: hidden;
  }
  // .main-home__link
  &__link {
  }
}

.link-main-home {
  // .link-main-home__about
  &__about {
    display: grid;
    grid-template-columns: rem(180) 1fr;
    padding: rem(36);
    column-gap: rem(36);
    background-color: $mainColor;
    transform: translateY(20%);
    opacity: 0;
    transition: transform 1s ease 0.7s, opacity 1s ease 0.7s, background-color .3s ease 0s;
    &:hover {
      background-color: black;
    }
    @media (max-width:$mobile){
       grid-template-columns: 1fr; 
    }
  }
  // .link-main-home__image
  &__image-ibg {
    height: 180px;
    width: 180px;
    overflow: hidden;
    @media (max-width:$mobile){
       width: 100%; 
       &:not(:last-child) {
        margin-bottom: rem(20);
       }
    }
  }
  // .link-main-home__img
  &__img {
    transition: all 1s linear;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  // .link-main-home__body
  &__body {
  }
  // .link-main-home__title
  &__title {
  }
  // .link-main-home__text
  &__text {
    color: white;
  }
  // .link-main-home__btn
  &__btn {
    padding: rem(30) rem(36);
    height: rem(86);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #435c50;
    transform: translateY(20%);
    opacity: 0;
    transition: background-color .3s ease, transform .7s ease .1s, opacity .7s ease .1s;
    &:hover {
      background-color: #344e41;
      .link-main-home__btn-arrow {
        transform: translateX(10px);
      }
    }
  }
  // .link-main-home__btn-text
  &__btn-text {
    color: #fff;
    font-size: rem(16);
    line-height: calc(26/16);
    font-weight: 600;
    text-transform: uppercase;
  }
  // .link-main-home__btn-arrow
  &__btn-arrow {
    transition: all .3s ease;
  }
}

.submain-home {
  position: relative;
  overflow: hidden;
  // .submain-home__image-ibg
  &__image-ibg {
    width: 100%;
    height: 100%;
    transition: all 1.5s ease 0.3s;
    transform: translateX(0%) scale(1.5);
    opacity: 0;
    overflow: hidden;
    @media (max-width:$tablet){
      height: rem(551);
    }
    @media (max-width:$mobileSmall){
       height: rem(410); 
    }
  }
  // .submain-home__img
  &__img {
    transition: all 1s linear;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  // .submain-home__link
  &__link {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: rem(30) rem(36);
    max-width: rem(600);
    width: 100%;
    height: rem(86);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    column-gap: rem(5);
    opacity: 0;
    transition: opacity .5s ease-out 1s;
    @media (max-width:$tablet){
      position: relative;
      background-color: $mainColor;
      max-width: 100%;
      color: white;
      padding: rem(24);
      height: rem(74);
    }
  }
  // .submain-home__name
  &__name {
    transition: all .3s ease;
    opacity: 0.7;
    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
  // .submain-home__price
  &__price {
    min-width: fit-content;
  }
}

// ================================================================
// ====== SECTIONS ======================================
.sections {
  background-color: white;
  @include adaptiveValue("padding-top", 100, 50);
  @include adaptiveValue("padding-bottom", 100, 50);
  // .sections__container
  &__container {
    display: grid;
    grid-template-columns: auto auto;
    gap: rem(36);
    @media (max-width:$tablet){
      grid-template-columns: auto;
    }
  }
  // .sections__item
  &__item {
    opacity: 0;
    transform: translateY(10%);
    transition: all .6s ease;
    @media (min-width:$tablet){
      &:nth-child(2){transition: all .5s ease .3s;} 
      &:nth-child(4){transition: all .5s ease .3s;} 
    }
    &._watcher-view {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.item-sections {
  width: 100%;
  min-height: rem(582);
  position: relative;
  @media (max-width:$mobileSmall){
     min-height: rem(400); 
  }
  // .item-sections__image-ibg
  &__image-ibg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      transition: all 1s linear;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
    }
  }
  // .item-sections__link
  &__link {
    position: absolute;
    display: block;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    @include adaptiveValue("padding-left", 36, 16);
    @include adaptiveValue("padding-right", 36, 16);
    @include adaptiveValue("padding-bottom", 36, 16);
    transition: all .5s ease;
    @media (any-hover: hover) {
      &:hover {
        opacity: .9;
        img {
          transform: translateX(10px);
        }
      }
    }
  }
  // .item-sections__link-wrap
  &__link-wrap {
    background-color: white;
    padding: rem(20) rem(36) rem(30);
    @media (max-width: 380px) {
      padding: rem(18) rem(16) rem(25);
    }
  }
  // .item-sections__title
  &__title {
    font-size: rem(30);
    line-height: calc(38/30);
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
  // .item-sections__body
  &__body {
    display: flex;
    column-gap: rem(20);
    img {
      transition: all .3s ease;
    }
  }
  // .item-sections__text
  &__text {
    font-size: 12px;
    line-height: calc(24/12);
    font-weight: 600;
    text-transform: uppercase;
  }
}


// ================================================================
// ====== PIECES ======================================
.pieces {
  background-color: white;
  @include adaptiveValue("padding-bottom", 100, 50);
  // .pieces__container
  &__container {
  }
  // .pieces__head
  &__head {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 30);
    }
    &._watcher-view {
      .pieces__lable{
        opacity: 0.7;
        transform: translateX(0);
      }
      .pieces__title {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  // .pieces__lable
  &__lable {
    opacity: 0;
    transform: translateX(-100%);
    transition: all .7s ease-out;
    font-size: rem(12);
    line-height: calc(20/12);
    font-weight: 600;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .pieces__title
  &__title {
    opacity: 0;
    transform: translateX(100%);
    transition: all .7s ease-out;
  }
  // .pieces__content
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("gap", 36, 16);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20);
    }
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: 1fr;
    }
  }
  // .pieces__btn
  &__btn {
    margin: 0 auto;
  }
  // .pieces__btn-text
  &__btn-text {
  }
}

.item-pieces {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: rem(7);
  border: rem(1) solid rgba(24, 24, 29, 0.1);
  transition: all .3s ease;
  opacity: 0;
  transform: translateY(10%) scale(1.05);
  @media (any-hover: hover) {
    &:hover {
      border: rem(1) solid rgba(24, 24, 29, 0.54);
      box-shadow: 0 0 0.9375rem #8f8f8f;
      .item-pieces__content {
        color: white;
        background-color: $mainColor;
      }
    }
  }

  &._watcher-view {
    opacity: 1;
    transform: translateY(0) scale(1);
    @media (min-width:$tablet){
      &:nth-child(1) {
        transition: all .6s ease-out;
      }
      &:nth-child(2) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(3) {
        transition: all .6s ease-out .4s;
      }
      &:nth-child(4) {
        transition: all .6s ease-out .6s;
      }
      &:nth-child(5) {
        transition: all .6s ease-out;
      }
      &:nth-child(6) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(7) {
        transition: all .6s ease-out .4s;
      }
      &:nth-child(8) {
        transition: all .6s ease-out .6s;
      }
      &:nth-child(9) {
        transition: all .6s ease-out;
      }
      &:nth-child(10) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(11) {
        transition: all .6s ease-out .4s;
      }
      &:nth-child(12) {
        transition: all .6s ease-out .6s;
      }
      &:nth-child(13) {
        transition: all .6s ease-out;
      }
      &:nth-child(14) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(15) {
        transition: all .6s ease-out .6s;
      }
    }
    @media (max-width:$tablet){
      &:nth-child(1) {
        transition: all .6s ease-out;
      }
      &:nth-child(2) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(3) {
        transition: all .6s ease-out ;
      }
      &:nth-child(4) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(5) {
        transition: all .6s ease-out;
      }
      &:nth-child(6) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(7) {
        transition: all .6s ease-out ;
      }
      &:nth-child(8) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(9) {
        transition: all .6s ease-out;
      }
      &:nth-child(10) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(11) {
        transition: all .6s ease-out;
      }
      &:nth-child(12) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(13) {
        transition: all .6s ease-out;
      }
      &:nth-child(14) {
        transition: all .6s ease-out .2s;
      }
      &:nth-child(15) {
        transition: all .6s ease-out;
      }
    }
    @media (max-width:$mobileSmall){
      transition: all .6s ease-out;
    }
  }

  .touch & {
    border: rem(1) solid rgba(24, 24, 29, 0.54);
    .item-pieces__content {
      color: white;
      background-color: $mainColor;
    }
    .item-pieces__button {
      transform: translateY(0px);
      opacity: .85;
    }
    .item-pieces__image-ibg {
      &::before {
        opacity: .8;
        visibility: visible;
      }
    }
  }

  // .item-pieces__image-ibg
  &__image-ibg {
    background-color: rgb(251, 251, 251);
    display: flex;
    height: rem(360);
    overflow: hidden;
    transition: all .3s ease;
    
    &::before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      z-index: 2;
      transition: all .4s ease;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          opacity: 1;
          visibility: visible;
        }
        .item-pieces__button {
          transform: translateY(0px);
          opacity: 1;
        }
        img {
          transform: scale(1.05);
        }
      }
    }

    img {
      transition: all 1s linear;
    }
  }
   // .item-pieces__btn-wrap
   &__btn-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: rem(15);
    z-index: 3;
  }
  // .item-pieces__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: rem(60);
    background-color: white;
    color: #000;
    font-weight: 600;
    font-size: rem(14);
    line-height: calc(24/14);
    text-transform: uppercase;
    transform: translateY(10px);
    opacity: 0;
    transition: all .5s ease;
    
  }
  // .item-pieces__content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(25) rem(10) rem(15);
    flex: 1 1 auto;
    transition: all .3s ease;
    background-color: #f5f5f5;
  }
  // .item-pieces__title
  &__title {
    flex: 1 1 auto;
    transition: all .3s ease;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    @media (any-hover: hover) {
      &:hover {
        opacity: .7;
      }
    }
  }
  // .item-pieces__price
  &__price {
    font-size: rem(24);
    line-height: calc(32/24);
    font-weight: 500;
  }
}

// ================================================================
// ====== BACKGROUND ======================================
.background {
  height: rem(360);
  @media (max-width:$tablet){
    height: rem(260);
  }
  // .background__imgage-ibg
  &__imgage-ibg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

// ================================================================
// ====== MEET ======================================
.meet {
  background-color: white;
  @include adaptiveValue("padding-top", 100, 50);
  @include adaptiveValue("padding-bottom", 100, 50);
  // .meet__container
  &__container {
    display: flex;
    position: relative;
    @media (max-width:$mobile){
        flex-direction: column-reverse;
    }
  }
  // .meet__img-body
  &__img-body {
    width: 57%;
    padding-bottom: 10%;
   @media (max-width:$tablet){
    padding-bottom: 0;
   } 
   @media (max-width:$mobile){
     width: 100%; 
   }
  }
  // .meet__image-ibg
  &__image-ibg {
    height: rem(460);
    width: 100%;
    overflow: hidden;
    @media (max-width:$tablet){
      height: rem(661);
    }
    @media (max-width:$mobile){
       height: rem(460); 
    }
    img {
      transition: all 1.5s linear;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  // .meet__text-body
  &__text-body {
    position: absolute;
    bottom: 0;
    right: rem(15);
    width: 56%;
    z-index: 2;
    background-color: white;
    box-shadow: 0 3px 40px 0 rgb(0 0 0 / 30%);
    @media (max-width:$tablet){
      bottom: unset;
      top: 50%;
      transform: translateY(-50%);
    }
    @media (max-width:$mobile){
       position: relative;
       top: unset;
       transform: unset;
       width: 100%;
       right: unset;
       box-shadow: unset; 
      //  &:not(:last-child) {
        margin-bottom: rem(30);
      //  }
    }
  }
  // .meet__text
  &__text {
    padding: rem(57) rem(67);
    @media (max-width:$mobile){
       padding: rem(20) 0 0 0; 
    }
  }
  // .meet__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
    @media (max-width:$mobile){
       font-size: rem(34);
       line-height: calc(42/34); 
    }
  }
  // .meet__txt
  &__txt {
    opacity: .7;
  }
}


// ================================================================
// ====== ARTICLES ======================================
.articles {
  background-color: white;
  @include adaptiveValue("padding-bottom", 100, 50);
  // .articles__container
  &__container {
  }
  // .articles__head
  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 25);
    }
  }
  // .articles__label
  &__label {
    opacity: .7;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .articles__title
  &__title {
    @media (min-width:$tablet){
       max-width: rem(582); 
    }
  }
  // .articles__content
  &__content {
    display: grid;
    grid-template-columns: 22.7% 22.7% 1fr;
    column-gap: rem(36);
    @media (max-width:$tablet){
      grid-template-columns: 1fr;
      row-gap: rem(30);
    }
  }
  // .articles__item
  &__item {
  }
}

.item-articles {
  position: relative;
  overflow: hidden;
  min-height: rem(460);
  height: 100%;
  transition: all .3s ease;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 0.9375rem #8f8f8f;
      .item-articles__image-ibg {
        img {
          transform: scale(1.05);
          filter: brightness(80%);
        }
      }
    }
  }
  @media (max-width:$tablet){
    min-height: rem(400);
  }
  // .item-articles__image-ibg
  &__image-ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    img {
      transition: all 1.5s linear;
      filter: brightness(65%);
    }
  }
  // .item-articles__body
  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include adaptiveValue("padding-top", 36, 26);
    @include adaptiveValue("padding-right", 36, 26);
    @include adaptiveValue("padding-bottom", 36, 26);
    @include adaptiveValue("padding-left", 36, 26);
  }
  // .item-articles__label
  &__label {
    padding: rem(10) rem(22);
    max-width: fit-content;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: hsla(0, 0%, 100%, 0.1);
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .item-articles__title
  &__title {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
  // .item-articles__title-link
  &__title-link {
    color: white;
    font-weight: 300;
    transition: all .3s ease;
    @media (any-hover: hover) {
      &:hover {
        opacity: .7;
      }
    }
  }
  // .item-articles__link
  &__link {
    max-width: rem(158);
    width: 100%;
    gap: rem(20);
  }
  // .item-articles__link-text
  &__link-text {
    font-size: rem(12);
  }
}
